{% extends 'hw_app/base.html' %}

{% block title %}Products ordered{% endblock %}

{% block content %}
<h2>Products ordered by {{ client.name }} within {{ days_num }} days since {{ start_time }}</h2>
<table>
    <tr>
        <th style="width:100px; text-align:left">Product id</th>
        <th style="width:250px; text-align:left">Product name</th>
        <th style="width:200px; text-align:left">Product price</th>
    <tr>
        {% for product in total_products_list %}
        <td>{{ product.pk }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}